.input-field {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
}

.input-field > * + * {
  margin-top: 1rem;
}

#add-task,
#day-time {
  padding: 1rem;
  margin-bottom: 1rem;

  border: 2px solid rgba(36, 35, 27, 0.9);
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px rgba(5, 170, 220, 0.7);

  transition: all 0.3s;
}
#add-task:hover,
#add-task:focus,
#day-time:hover,
#day-time:focus {
  outline: 1px solid rgba(5, 170, 220, 0.3);
  box-shadow: 1px 3px 0px 1px rgba(5, 170, 220, 0.7);

  transform: translateY(-3%) translateX(-0.3%);
}

#reminder {
  padding: 1rem;
  margin-right: 0.3rem;
  transform: scale(1.7);
}

.input-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  font-size: 1.2rem;
}

#reminder {
  margin-bottom: -0.1rem;
}

.btn-add {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
