.input-field {
  display: flex;
  flex-direction: column;
}

.input-field > * + * {
  margin-top: 1rem;
}

.input-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

#reminder {
    margin-bottom: -0.1rem;
}

.btn-add {
    margin-top: 1rem;
    margin-bottom: 1rem;
}